<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.ApplicationInsights" version="2.22.0" targetFramework="net8.0" />
  <package id="Microsoft.Testing.Extensions.Telemetry" version="1.4.3" targetFramework="net8.0" />
  <package id="Microsoft.Testing.Extensions.TrxReport.Abstractions" version="1.4.2" targetFramework="net8.0" />
  <package id="Microsoft.Testing.Extensions.VSTestBridge" version="1.4.1" targetFramework="net8.0" />
  <package id="Microsoft.Testing.Platform" version="1.4.3" targetFramework="net8.0" />
  <package id="Microsoft.Testing.Platform.MSBuild" version="1.4.1" targetFramework="net8.0" />
  <package id="Microsoft.TestPlatform.ObjectModel" version="17.11.1" targetFramework="net8.0" />
  <package id="MSTest.TestAdapter" version="3.6.1" targetFramework="net8.0" />
  <package id="MSTest.TestFramework" version="3.6.1" targetFramework="net8.0" />
  <package id="StyleCop.Analyzers" version="1.1.118" targetFramework="net462" developmentDependency="true" />
  <package id="System.Diagnostics.DiagnosticSource" version="8.0.1" targetFramework="net8.0" />
  <package id="System.Reflection.Metadata" version="8.0.1" targetFramework="net8.0" />
</packages>